html,
body {
  height: 100%;
}

body {
  background: #403b4a;
  background: -webkit-gradient(linear, left top, right top, from(#e7e9bb), to(#403b4a));
  background: linear-gradient(to right, #e7e9bb, #403b4a);
}

a {
  text-decoration: none;
  color: inherit;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#root > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.app {
  font-family: "Lato", sans-serif;
  max-width: 25rem;
  background: #fff;
  border-radius: 0.75rem;
  -webkit-box-shadow: 0 1px 0 rgba(65, 68, 58, 0.25);
          box-shadow: 0 1px 0 rgba(65, 68, 58, 0.25);
  margin: 5vh auto 0;
}

.app__title {
  padding: 1.5rem 1.5rem 0;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.075rem;
}

.app__tools {
  padding: 0.5rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.app__content {
  height: 50vh;
}

.app__content > * {
  height: 100%;
}

.counter {
  font-size: 0.875rem;
}

.filter {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.filter__button {
  background-color: transparent;
  border: none;
  display: block;
  font-size: 0.875rem;
  text-transform: capitalize;
  margin-left: 0.25rem;
  padding: 0.25rem 0.5rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.filter__button--active, .filter__button:hover {
  background-color: rgba(65, 68, 58, 0.5);
  border-radius: 1rem;
  color: #fff;
}

.add-form {
  margin-top: 0.5rem;
}

.add-form__input {
  width: 100%;
  padding: 0.5rem 1.5rem;
  border: transparent;
  outline: none;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.add-form__input::-webkit-input-placeholder {
  font-size: 1rem;
}

.add-form__input:-ms-input-placeholder {
  font-size: 1rem;
}

.add-form__input::-ms-input-placeholder {
  font-size: 1rem;
}

.add-form__input::placeholder {
  font-size: 1rem;
}

.add-form__input:focus {
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.add-form__submit {
  display: none;
}

.task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.task__checkbox {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 0.5rem;
}

.task__title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.task--completed .task__title {
  text-decoration: line-through;
}

.task__destroy {
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 0.25rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.task__destroy:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.task__destroy:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.task--completed {
  background-color: rgba(65, 68, 58, 0.25);
}

.not-found {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 25%;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23f4f4f4' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 486.463 486.463'%3e%3cpath d='M243.225 333.382c-13.6 0-25 11.4-25 25s11.4 25 25 25c13.1 0 25-11.4 24.4-24.4.6-14.3-10.7-25.6-24.4-25.6z'/%3e%3cpath d='M474.625 421.982c15.7-27.1 15.8-59.4.2-86.4l-156.6-271.2c-15.5-27.3-43.5-43.5-74.9-43.5s-59.4 16.3-74.9 43.4l-156.8 271.5c-15.6 27.3-15.5 59.8.3 86.9 15.6 26.8 43.5 42.9 74.7 42.9h312.8c31.3 0 59.4-16.3 75.2-43.6zm-34-19.6c-8.7 15-24.1 23.9-41.3 23.9h-312.8c-17 0-32.3-8.7-40.8-23.4-8.6-14.9-8.7-32.7-.1-47.7l156.8-271.4c8.5-14.9 23.7-23.7 40.9-23.7 17.1 0 32.4 8.9 40.9 23.8l156.7 271.4c8.4 14.6 8.3 32.2-.3 47.1z'/%3e%3cpath d='M237.025 157.882c-11.9 3.4-19.3 14.2-19.3 27.3.6 7.9 1.1 15.9 1.7 23.8 1.7 30.1 3.4 59.6 5.1 89.7.6 10.2 8.5 17.6 18.7 17.6s18.2-7.9 18.7-18.2c0-6.2 0-11.9.6-18.2 1.1-19.3 2.3-38.6 3.4-57.9.6-12.5 1.7-25 2.3-37.5 0-4.5-.6-8.5-2.3-12.5-5.1-11.2-17-16.9-28.9-14.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center 15%;
  font-weight: 500;
  font-size: 18px;
  background-size: 80px;
}
/*# sourceMappingURL=style.css.map */